.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  cursor: grab;
}

.input-item:hover {
  background-color: #e0e0e0;
}



.input-item.dragging {
  cursor: grabbing;
  /* Define o cursor como 'mãozinha fechada' enquanto estiver arrastando */
}